<h1>New Review for <%= @restaurant.name %></h1>

<%= form_with model: [@restaurant, @review], local: true do |f| %>
  <div class="form-group">
    <%= f.text_area :content, placeholder: "Your review", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.select :rating, options_for_select((0..5).to_a), {}, class: "form-control" %>
  </div>

  <%= f.submit "Submit Review", class: "btn btn-primary" %>
<% end %>
